@{
    var siteSetting = DependencyResolver.Current.GetService<ISettingService<SiteSetting>>().Get() ?? new SiteSetting();

    string activeMenu = ViewBag.ActiveMenu;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@(siteSetting.MetaDescription)">
    <meta name="keywords" content="@(siteSetting.MetaKeyWords)" />
    <meta name="generator" content="@(siteSetting.MetaGenerator)" />
    <meta name="author" content="@(siteSetting.MetaAuthor)">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>@ViewBag.Title - @(siteSetting.SiteName)</title>

    @Styles.Render("~/bundles/css", "~/Content/font-awesome/css/css",  "~/Scripts/fancybox/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/jquery")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
    <![endif]-->



</head><!--/head-->
<body>
    @Html.Action(MVC.Channel._Header(activeMenu))
    @RenderBody()
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="/Images/home/under.png" class="img-responsive inline" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">
                    <h2>Testimonial</h2>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="/Images/home/profile1.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.</blockquote>
                            <h3><a href="#">- Jhon Kalis</a>
                            </h3>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="/Images/home/profile2.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.</blockquote>
                            <h3><a href="">- Abraham Josef</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info bottom">
                    <h2>Contacts</h2>
                    <address>
                        E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br>
                        Phone: +1 (123) 456 7890 <br>
                        Fax: +1 (123) 456 7891 <br>
                    </address>
                    <h2>Address</h2>
                    <address>
                        Unit C2, St.Vincent's Trading Est., <br>
                        Feeder Road, <br>
                        Bristol, BS2 0UY <br>
                        United Kingdom <br>
                    </address>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="contact-form bottom">
                    <h2>Send a message</h2>
                    <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; ChiakiYu 2014-@(DateTime.Now.Year). All Rights Reserved.</p>
                    <p>Designed by <a target="_blank" href="#">ChiakiYu</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
    @Html.ShareToThird(ShareDisplayType.Sidebar)
    <!--/#footer-->
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>

