@{
    ViewBag.ActiveMenu = "日志";
    ViewBag.Title = "日志";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">日志</h1>
                        <p>畅游在书的海洋中...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->
<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    @for (int i = 0; i < 6; i++)
                    {
                        <div class="col-md-6 col-sm-12 blog-padding-right">
                            <div class="single-blog two-column">
                                <div class="post-thumb">
                                    <a href="@Url.Action(MVC.Blog.Detail(i))"><img src="/Images/blog/timeline/1.jpg" class="img-responsive" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="javascript:;">@(DateTime.Now.Day)<br><small>@(DateTime.Now.Month)月</small></a></span>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold">
                                        <a href="@Url.Action(MVC.Blog.Detail(i))">Win10用户可能将无法运行盗版游戏</a>
                                    </h2>
                                    <h3 class="post-author">
                                        <a href="#">作者：Q</a>
                                    </h3>
                                    <p>其实，微软这种阻止玩家运行盗版游戏的做法倒也是情理之中，看这家公司的其他平台，如Xbox、Xbox 360及桌面版Windows其盗版现象非常严重</p>
                                    <a href="@Url.Action(MVC.Blog.Detail(i))" class="read-more">查看详情</a>
                                    <div class="post-bottom overflow">
                                        <ul class="nav nav-justified post-nav">
                                            <li><a href="@Url.Action(MVC.Blog.Detail(i))" title="收藏数"><i class="fa fa-heart"></i>12</a></li>
                                            <li><a href="@Url.Action(MVC.Blog.Detail(i))" title="评论数"><i class="fa fa-comments"></i>111</a></li>
                                            <li><a href="@Url.Action(MVC.Blog.Detail(i))" title="浏览数"><i class="fa fa-eye"></i>324</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="blog-pagination">
                    <ul class="pagination">
                        <li><a href="#">left</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">right</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item add">
                        @*<h3>Tag Cloud</h3>*@
                        <a class="btn btn-block btn-primary btn-lg" href="@Url.Action(MVC.Blog.Eidt(0))">新建日志</a>
                    </div>
                    <div class="sidebar-item  recent">
                        <h3>最新帖子</h3>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/Images/portfolio/project1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/Images/portfolio/project2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/Images/portfolio/project3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-item categories">
                        <h3>Categories</h3>
                        <ul class="nav navbar-stacked">
                            <li><a href="#">Lorem ipsum<span class="pull-right">(1)</span></a></li>
                            <li class="active"><a href="#">Dolor sit amet<span class="pull-right">(8)</span></a></li>
                            <li><a href="#">Adipisicing elit<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Sed do<span class="pull-right">(9)</span></a></li>
                            <li><a href="#">Eiusmod<span class="pull-right">(3)</span></a></li>
                            <li><a href="#">Mockup<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Ut enim ad minim <span class="pull-right">(2)</span></a></li>
                            <li><a href="#">Veniam, quis nostrud <span class="pull-right">(8)</span></a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item tag-cloud">
                        <h3>Tag Cloud</h3>
                        <ul class="nav nav-pills">
                            <li><a href="#">Corporate</a></li>
                            <li><a href="#">Joomla</a></li>
                            <li><a href="#">Abstract</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Product</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item popular">
                        <h3>Latest Photos</h3>
                        <ul class="gallery">
                            <li><a href="#"><img src="/Images/portfolio/popular1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/Images/portfolio/popular2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/Images/portfolio/popular3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/Images/portfolio/popular4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/Images/portfolio/popular5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/Images/portfolio/popular1.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

