@model Blog
@{
    ViewBag.ActiveMenu = "日志";
    ViewBag.Title = "日志详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">日志</h1>
                        <p>畅游在书的海洋中...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->
<section id="blog-details" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="single-blog blog-details two-column">
                            @if (!string.IsNullOrEmpty(Model.FeaturedImage))
                            {
                                <div class="post-thumb">
                                    <a href="@Model.FeaturedImage" data-title="@Model.Title" data-lightbox="blogimg">
                                        <img src="@Model.FeaturedImage" class="img-responsive" alt="">
                                    </a>
                                </div>
                            }
                            <div class="post-content overflow">
                                <h2 class="post-title bold">
                                    <span>@Model.Title</span>
                                </h2>
                                <h3 class="post-author"><a href="#">作者：@Model.Author.NickName</a></h3>
                                @Html.Raw(Model.Content)
                                <div class="post-bottom overflow">
                                    <ul class="nav navbar-nav post-nav">
                                        <li><a href="javascript:;" title="收藏数"><i class="fa fa-heart"></i>@Model.CommentCount</a></li>
                                        <li><a href="javascript:;" title="评论数"><i class="fa fa-comments"></i>@Model.CommentCount</a></li>
                                        <li><a href="javascript:;" title="浏览数"><i class="fa fa-eye"></i>@Model.HitCount</a></li>
                                    </ul>
                                </div>
                                <div class="blog-share">
                                    <span class='st_facebook_hcount'></span>
                                    <span class='st_twitter_hcount'></span>
                                    <span class='st_linkedin_hcount'></span>
                                    <span class='st_pinterest_hcount'></span>
                                    <span class='st_email_hcount'></span>
                                </div>
                                <div class="author-profile padding">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="/Images/blogdetails/1.png" alt="">
                                        </div>
                                        <div class="col-sm-10">
                                            <h3>Q</h3>
                                            <p>来来来来来来来来来来来来来来来来来来来来来来来来来来来来来来</p>
                                            <p>来来来来来来来来来来来来来来来来来来来来来来来来来来来来来来</p>
                                            <p>来来来来来来来来来来来来来来来来来来来来来来来来来来来来来来</p>
                                        </div>
                                    </div>
                                </div>
                                @Html.Action(MVC.Blog.Blog._CommentList(1))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                @Html.Partial("_Sidebar")
            </div>
        </div>
    </div>
</section>
