@model UserEditModel

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm(MVC.Admin.AdminUser.EidtUser(), FormMethod.Post, new { id = "registerUser", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <div class="form-group">
                    @Html.TextBoxFor(n => n.UserName, new RouteValueDictionary { { "autofocus", "" }, { "placeholder", "用户名" }, { "class", "form-control" } })
                    @Html.ValidationMessageFor(n => n.UserName)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(n => n.AccountEmail, new RouteValueDictionary { { "type", "email" }, { "autofocus", "" }, { "placeholder", "邮箱" }, { "class", "form-control" } })
                    @Html.ValidationMessageFor(n => n.AccountEmail)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(n => n.AccountMobile, new RouteValueDictionary { { "placeholder", "手机号" }, { "class", "form-control" } })
                    @Html.ValidationMessageFor(n => n.AccountMobile)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(n => n.NickName, new RouteValueDictionary { { "placeholder", "昵称" }, { "class", "form-control" } })
                    @Html.ValidationMessageFor(n => n.NickName)
                </div>
                <div class="form-group">

                    <img src="~/Images/team-member.jpg" />
                    <button id="browse">选择文件</button>
                    <button id="start_upload">开始上传</button>
                </div>

                <button type="submit" class="btn btn-lg btn-success btn-block">注册</button>
            </fieldset>

        }
    </div>
</div>

